gunicorn==21.2.0
Flask==2.3.3
redis==5.0.1
rq==1.15.1
psycopg[binary]==3.2.3
requests==2.31.0
bcrypt==4.1.2
tweepy==4.14.0
openai==1.35.3
python-telegram-bot==20.7
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.111.0
